@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



:root {
  --accent: #38a3a5;
  --complementary: #a33a38;
  --dark:#1B1B1B;
  --light:#f5f5f5;
}

body {
  font-family: "Clash Grotesk", sans-serif;
  padding: 1em;
  color: var(--dark);
  background-image: url(./public/images/bacground.svg);
  background-color: var(--light)
}

header {
  position: sticky;
  top: 20px;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;  
}

#Logo {
  margin-left: 1.5em;
  aspect-ratio: 1/1;
  height: 5em;
}

#bar-hamburger {
  width: 40px;
  aspect-ratio: 5/1;
  background-color: var(--dark);
  position: relative;
  margin-right: 1.5em;
}

#bar-hamburger::after,
#bar-hamburger::before {
  position: absolute;
  content: "";
  width: 40px;
  aspect-ratio: 5/1;
  background-color: inherit;
  
}

#bar-hamburger::after {
  top: -15px;
}

#bar-hamburger::before {
  top: 15px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  cursor: pointer;
  height: 100%;
}

.open-ham #bar-hamburger {
  animation: hamburgerMain 1s forwards;
}

.closed-ham #bar-hamburger {
  animation: hamburgerMainReverse 1s forwards;
}

.open-ham #bar-hamburger::after {
  animation: hamburgerAfter 1s forwards;
}
.open-ham #bar-hamburger::before {
  animation: hamburgerBefore 1s forwards;
}

.closed-ham #bar-hamburger::after {
  animation: hamburgerAfterReverse 1s forwards;
}

.closed-ham #bar-hamburger::before {
  animation: hamburgerBeforeReverse 1s forwards;
}


#projets,#contact-page{
  color:var(--dark);
  font-size: 13vw;
}

#linkedin ,#mail,#github,#phone{
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark)
}
#linkedin{
  color: #0e76a8;
}

#github{
  color: #c9510c;
}

#social{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.presentation {
  display: flex;
  align-items: center;
  font-weight: 700;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: .5em;
}

.job {
  flex: 1;
}

#name {
  font-size: 9em;

  color: var(--dark)
}
.last-name {
  font-size: 4.5em;
}

#name-job {
  position: relative;
  padding: 1em;
  line-height: 0.75;
}

#job {
  position: absolute;
  left: 0.5em;
  bottom: 0;
  color: var(--accent);
  font-size: 2em;
  font-family: "Chillax", sans-serif;
  font-weight: 600;
}

#contact {
  padding: 1em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.fa-linkedin{
  margin-right: .25em;
}

.contact-info {
  color: var(--accent);
  font-weight: 500;
}

.person {
  flex: 2;
  position: relative;
  display: flex;
  justify-content: center;
}

#person-container {
  margin: 0 1em;
  min-width: 15em;
  display: grid;
  align-content: center;
  border-radius: 0 0 100em 100em;
  overflow: hidden;
  transition: transform 250ms ease-in;
  transform: scale(1);
  justify-items: center;
}

#person-container:hover {
  transform: scale(1.1);
}

#person-container:hover .portrait {
  transform: translateY(-0.5rem) scale(1.001);
}
.img-background {
  position: absolute;
  width: 100%;
  border-radius: 100rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  inset: auto 0 0;
  margin-inline: auto;
  box-shadow: inset 0 0 5px 2px var(--accent);
  padding: 2px;
}

.portrait {
  width: 100%;
  max-width: 400px;
  transform: translate(0em, 2em);
  position: relative;
  transition: transform 250ms ease-in;
}

.about-me {
  font-size: xx-large;
  margin: 1em;
}

.languages {
  margin: 1em;
}

.languages ::marker {
  color: var(--accent);
}

.languages li {
  font-size: xx-large;
  margin: 0.5em 1em;
  width: fit-content;
  position: relative;
  padding: 0 0.5em;
}

.languages li::after {
  display: inline-block;
  left: 0;
  background-color: var(--accent);
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 0.5em;

  content: "";
  transition: 500ms;
}

.languages li:hover::after {
  width: 100%;
}
fieldset {
  border: solid 0.25em var(--dark);
  border-radius: 0.5em;
}

legend {
  width: fit-content;
  padding: 0 10px;
  margin-left: 1em;
  color: var(--accent);
  font-weight: 700;
  font-size: 2em;
}
.page-presenter {
  margin: 2em 0;
  width: 100%;
  display: flex;
  gap: 3em;
  padding: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.page {
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-color: var(--dark);

  transition: scale 50ms;

  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.page video,
.page img {
  aspect-ratio: 16/9;
  max-width: 450px;
  border-radius: 1em;
}

.page:hover {
  transform: scale(1.35);
}

.page:hover .pop-up-infos {
  bottom: 0;
}

#sites {
  padding: 1em;
}

.sites-titles {
  margin: 1em 0;
}

.languages img {
  aspect-ratio: 1/1;
  width: 25px;
}

.site-description {
  padding: 1em;
  font-size: 1.5em;
}
.pop-up-infos {
  width: 100%;
  position: absolute;
  bottom: -100%;
  padding: 1em;
  color: white;
  background: linear-gradient(transparent 0%, rgb(4, 4, 4) 100%);
  transition: 0.5s;
}

/* Test pour un animation sur pop up en div */

/* .open {
  position: fixed;
  top: 0px;
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: 1;
  padding: 10em;
  border-radius: 0;
  animation: fullScreen 5s linear forwards ;
}
.open video,
.open img {
  width: 100%;
}

.open:hover {
  transform: none;
}

body:has(.open) {
  overflow: hidden;
} */

dialog {
  margin: auto;
  width: 90%;
  background-color: #000000ee;
  border: transparent;
  border-radius: 1rem;
  color: white;
  backdrop-filter: blur(10px);
}

::backdrop {
  backdrop-filter: blur(2px);
}

dialog h1 {
  font-size: 2.25rem;
  color: var(--accent);
}

.big-video {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.close {
  position: absolute;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: transparent;
  width: 100px;
}

.header-dialog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.round {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
}

.round img {
  width: 100px;
  height: 100px;
  transition: 0.5s;
  aspect-ratio: 1/1;
  opacity: 0;
  transform: rotate(-180deg);
}

.close:hover {
  color: var(--complementary);
}

.close:focus-visible {
  outline: transparent;
}

.round:hover .close-text {
  animation: rotation 1s forwards;
}

dialog video {
  max-width: 81.75%;
  border-radius: 0.5rem;
}

section {
  scale: 0;
  overflow: hidden;
}

.open-nav {
  scale: 1;}

.closed-nav{
  
  animation: close-nav 1s forwards;
  
}

section {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.nav-container {
  padding: 8em 4em;
}

.links {
  display: flex;
  flex-direction: column;
}

.open-nav .links {
  opacity: 0;
  animation: opacity .5s .5s forwards ;
  background-color: var(--light)
}

.closed-nav .links{
  animation: opacityReverse .5s   forwards;

}

.cv{
  display: block;
  color: var(--complementary);
  font-weight: 800;
  font-size: x-large;
}

.links a {
  text-decoration: none;
  color: var(--dark);
  font-size: 8vw;
  font-weight: 800;
  border-top: solid;
  border-bottom: solid;
  position: relative;
  overflow: hidden;
}

.links a:nth-child(even){
  border: transparent;
}

.links a::after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0px;
  position: absolute;
  backdrop-filter: invert(95%);
  z-index: 1;
  transition: 0.5s;
}

.links a:hover::after {
  bottom: 0%;
}

.tiles {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

.animations-tiles:nth-child(odd){
  
  left: -100%;
}
.animations-tiles:nth-child(even){
  
  right: -100%;
}
.animations-tiles{
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  margin: -1px;
}

.open-nav .animations-tiles:nth-child(odd){
  animation: moveright .5s linear forwards;
}

.closed-nav .animations-tiles:nth-child(odd){
  animation: moverightReverse .5s  linear forwards;
}

.open-nav .animations-tiles:nth-child(even){
  animation: moveleft .5s ease-in forwards;
}

.closed-nav .animations-tiles:nth-child(even){
  animation: moveleftReverse .5s  ease-in forwards;
}

@keyframes close-nav{
  0%,99%{
    scale: 1;
  }

  100%{
    scale: 0;
  }
}

@keyframes opacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes opacityReverse{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes moveright {
  from{
    left: 100%;
  }
  to{
    left: 0%;
  }
  
}
@keyframes moverightReverse {
  from{
    left: 0%;
  }
  to{
    left: 100%;
  }
  
}
@keyframes moveleft {
  from{
    right: 100%;
  }
  to{
    right: 0%;
  }
}
@keyframes moveleftReverse {
  from{
    right: 0%;
  }
  to{
    right: 100%;
  }
}



@keyframes rotation {
  100% {
    opacity: 1;
    transform: rotate(-0deg);
  }
}

@keyframes hamburgerMain {

  0% {
    transform: translate(0px, 0px);
    rotate: 0deg;
  }
  
  100% {
    transform: translate(-5px, -5px);
    rotate: 45deg;
    
  }
}

@keyframes hamburgerMainReverse {
  0% {
    transform: translate(-5px, -5px);
    rotate: 45deg;
    
  }
  100% {
    transform: translate(0px, 0px);
    rotate: 0deg;
  }
}

@keyframes hamburgerAfter {
  100% {
    opacity: 0;
  }
}

@keyframes hamburgerAfterReverse {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}

@keyframes hamburgerBefore {
  

  50% {
    top: 25%;
    
  }

  100% {
    rotate: 90deg;
    top:  0px;
  }
}

@keyframes hamburgerBeforeReverse {
  50% {
    top: 25%;
  }

  0% {
    rotate: 90deg;
    top: 50%;
  }

  100%{
    rotate: 0deg;
    top: 15px;
  }
}

@media screen and (max-width: 1575px) {
  dialog video {
    max-width: 100%;
    border-radius: 0.5rem;
  }
}

@media screen and (max-height:450px) {

  .links a {
    font-size: 10vh;
  }

  
  
}

@media screen and (max-width: 645px) {
  .page:hover {
    transform: scale(1);
  }
  #linkedin ,#mail,#github,#phone{
    font-size: 5vw;
    
  }
  

  dialog {
    display: none;
  }

  .page {
    width: 100%;
  }

  .page-presenter {
    padding: 5px;
  }
  #sites {
    padding: 0px;
  }

  .page video,
  .page img {
    aspect-ratio: 16/9;
    max-width: 90%;
    border-radius: 1em;
  }

  #name-job {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  #name {
    font-size: 5em;
    text-align: center;
  }
  .last-name {
    text-align: center;
    font-size: 3em;
  }
  #job {
    position: relative;
    left: 0;
  }
}
